body {
    margin: 0;
    padding: 0;
    height: 200vh;
    font-family: sans-serif;
    background-image: url('/static/Img/body.png'); /* Đường dẫn đúng */
    background-repeat: no-repeat;
    background-position: center;
}